{% from 'macros/form_field_macro.html' import render_field %}

<form action="{{ action }}" method="{{ method if method else 'POST' }}" novalidate {% if enctype %} enctype="multipart/form-data" {% endif %}>
    {% for f in form %}
        {% if f.type == 'DateField' %}
        {{ render_field(f, placeholder="yyyy-mm-dd") }}
        {% elif f.type == 'SubmitField' %}
        {{ render_field(f, class='btn btn-dark') }}
        {% elif f.widget.input_type == 'checkbox' %}
        {{ render_field(f, class='') }}
        {% elif f.type == 'FieldList' %}
        {% include 'partials/_table.html' %}
        {% else %}
        {{ render_field(f) }}
        {% endif %}
    {% endfor %}
</form>