<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="{{ url_for('main.home') }}">
      <img src="{{ url_for('static', filename='images/logo.ico') }}"class="img-fluid" alt="Timecard" width="50">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {% if not admin %}
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('auth.admin') }}">Add Admin</a>
        </li>
        {% endif %}
        {% if current_user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('main.home') }}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('project.projects') }}">Projects</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Last (5)
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% for project in latest_projects  %}
                <li><a class="dropdown-item" href="{{ url_for('project.project', name=project.name) }}">{{ project.name }}</a></li>
              {% endfor %}
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('project.add') }}">Add Project</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('user.user') }}">User Profile</a>
        </li>
        {% if current_user == admin %}
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('auth.signup') }}">Add User</a>
        </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('auth.logout') }}">Logout</a>
        </li>
      </ul>
      <form class="d-flex" action="{{ url_for('project.search') }}" method="get">
        <input class="form-control me-2" type="search" placeholder="Search by project name" aria-label="Search" name="search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      {% endif %}
    </div>
  </div>
</nav>